<?xml version="1.0" encoding="UTF-8"?>
<properties>
	<!-- 首页商品展示 -->
	<PagePattern name="pageBranchAction">
		<ActionForm>bshow.web.servlet.form.PageBranchActionForm</ActionForm>
		<Action>bshow.web.servlet.action.PageBranchAction</Action>
		<Redirect>false</Redirect>
		<path name="success">success.jsp</path>
		<path name="error">error.jsp</path>
	</PagePattern>
	
	<PagePattern name="selectGoodsNo">
		<ActionForm>bshow.web.servlet.form.SelectGoodsNoForm</ActionForm>
		<Action>bshow.web.servlet.action.SelectGoodsNoAction</Action>
		<Redirect>false</Redirect>
	</PagePattern>
	
	<!-- 查询最大页数 -->
	<PagePattern name="maxPageAction">
		<ActionForm>bshow.web.servlet.form.MaxPageActionForm</ActionForm>
		<Action>bshow.web.servlet.action.MaxPageAction</Action>
		<Redirect>false</Redirect>
		<path name="success">success.jsp</path>
		<path name="error">error.jsp</path>
	</PagePattern>

	

	<!-- 根据用户名查询购物车商品 -->
	<PagePattern name="selectCartGoods">
		<ActionForm>bshow.web.servlet.form.SelectCartGoodsForm</ActionForm>
		<Action>bshow.web.servlet.action.SelectCartGoodsAction</Action>
		<Redirect>false</Redirect>
	</PagePattern>
	
	<!-- 删除购物车商品 -->
	<PagePattern name="deleteCartGoods">
		<ActionForm>bshow.web.servlet.form.DeleteCartGoodsForm</ActionForm>
		<Action>bshow.web.servlet.action.DeleteCartGoodsAction</Action>
		<Redirect>false</Redirect>
	</PagePattern>
	
	<!-- 增加购物车商品 -->
	<PagePattern name="addCartGoods">
		<ActionForm>bshow.web.servlet.form.AddCartGoodsForm</ActionForm>
		<Action>bshow.web.servlet.action.AddCartGoodsAction</Action>
		<Redirect>false</Redirect>
	</PagePattern>
	
	<!-- 根据商品id查询购物车的商品 -->
	<PagePattern name="selectCartGoodsById">
		<ActionForm>bshow.web.servlet.form.SelectCartGoodsByIdForm</ActionForm>
		<Action>bshow.web.servlet.action.SelectCartGoodsByIdAction</Action>
		<Redirect>false</Redirect>
	</PagePattern>
	
	<!-- 根据商品id和状态值查询购物车的商品 -->
	<PagePattern name="selectCartGoodsByState">
		<ActionForm>bshow.web.servlet.form.SelectCartGoodsByStateForm</ActionForm>
		<Action>bshow.web.servlet.action.SelectCartGoodsByStateAction</Action>
		<Redirect>false</Redirect>
	</PagePattern>
	
	<!-- 插入订单表商品 -->
	<PagePattern name="insertBillGoods">
		<ActionForm>bshow.web.servlet.form.InsertBillForm</ActionForm>
		<Action>bshow.web.servlet.action.InsertBillAction</Action>
		<Redirect>false</Redirect>
	</PagePattern>
	
	<!-- 插入到订单表bill_table -->
	<PagePattern name="insertBill">
		<ActionForm>bshow.web.servlet.form.InsertBillForm</ActionForm>
		<Action>bshow.web.servlet.action.InsertBillAction</Action>
		<Redirect>false</Redirect>
	</PagePattern>
	
	<!--查询导航栏信息  -->
	<PagePattern name="navigationAction">
		<ActionForm>bshow.web.servlet.form.NavigationActionForm</ActionForm>
		<Action>bshow.web.servlet.action.NavigationAction</Action>
		<Redirect>false</Redirect>
		<path name="success">success.jsp</path>
		<path name="error">error.jsp</path>
	</PagePattern>
	
	<!-- 多条件查询 -->
	<PagePattern name="goodsByConditionsAction">
		<ActionForm>bshow.web.servlet.form.GoodsByConditionsActionForm</ActionForm>
		<Action>bshow.web.servlet.action.GoodsByConditionsAction</Action>
		<Redirect>false</Redirect>
		<path name="success">success.jsp</path>
		<path name="error">error.jsp</path>
	</PagePattern>

	<!-- 注册登录插入 -->
	<PagePattern name="Sign_accountAction">
		<Action>bshow.web.servlet.action.Sign_accountAction</Action>
		<ActionForm>bshow.web.servlet.form.Sign_accountActionForm</ActionForm>
		<Redirect>false</Redirect>
	</PagePattern>
	<!-- 登录插入 -->
	<PagePattern name="Login_Action">
		<Action>bshow.web.servlet.action.Login_Action</Action>
		<ActionForm>bshow.web.servlet.form.Login_ActionForm</ActionForm>
		<Redirect>false</Redirect>
		
	</PagePattern>
	

	<!-- 购物车 -->
	<PagePattern name="insertCart">
		<ActionForm>bshow.web.servlet.form.InsertCartForm</ActionForm>
		<Action>bshow.web.servlet.action.InsertCartAction</Action>
		<Redirect>false</Redirect>
	</PagePattern>
	
	<!-- 购物车 -->
	<PagePattern name="getInfo">
		<ActionForm>bshow.web.servlet.form.GetInfoForm</ActionForm>
		<Action>bshow.web.servlet.action.GetInfoAction</Action>
		<Redirect>false</Redirect>
	</PagePattern>
	
	<!-- 更新个人信息 -->
	<PagePattern name="updatePersonInfo">
		<ActionForm>bshow.web.servlet.form.UpdatePersonInfoForm</ActionForm>
		<Action>bshow.web.servlet.action.UpdatePersonInfoAction</Action>
		<Redirect>false</Redirect>
	</PagePattern>
	
	<!-- 插入地址数据 -->
	<PagePattern name="insertIntoReceiver">
		<ActionForm>bshow.web.servlet.form.InsertIntoReceiverForm</ActionForm>
		<Action>bshow.web.servlet.action.InsertIntoReceiverAction</Action>
		<Redirect>false</Redirect>
	</PagePattern>
	
	<!-- 查找地址数据 -->
	<PagePattern name="selectReceiverByAccount">
		<ActionForm>bshow.web.servlet.form.SelectReceiverByAccountForm</ActionForm>
		<Action>bshow.web.servlet.action.SelectReceiverByAccountAction</Action>
		<Redirect>false</Redirect>
	</PagePattern>
	
	<!-- 删除地址 -->
	<PagePattern name="deleteAddressByRid">
		<ActionForm>bshow.web.servlet.form.DeleteAddressByRidForm</ActionForm>
		<Action>bshow.web.servlet.action.DeleteAddressByRidAction</Action>
		<Redirect>false</Redirect>
	</PagePattern>
	
	<!-- 更新check和插入 -->
	<PagePattern name="updateCheckAndInsert">
		<ActionForm>bshow.web.servlet.form.UpdateCheckAndInsertForm</ActionForm>
		<Action>bshow.web.servlet.action.UpdateCheckAndInsertAction</Action>
		<Redirect>false</Redirect>
	</PagePattern>
	
	<!-- 查找颜色 -->
	<PagePattern name="selectColor">
		<ActionForm>bshow.web.servlet.form.SelectColorForm</ActionForm>
		<Action>bshow.web.servlet.action.SelectColortAction</Action>
		<Redirect>false</Redirect>
	</PagePattern>
	
	<!-- 立即购买 -->
	<PagePattern name="insertCartBuy">
		<ActionForm>bshow.web.servlet.form.InsertCartBuyForm</ActionForm>
		<Action>bshow.web.servlet.action.InsertCartBuyAction</Action>
		<Redirect>false</Redirect>
	</PagePattern>
	
	
	
	
	
	
	
	
	
	
	
	
	
</properties>
