<?xml version="1.0" encoding="UTF-8"?>
<properties>
	<!-- 首页商品展示 -->
	<PagePattern name="pageBranchAction">
		<ActionForm>bshow.web.servlet.form.PageBranchActionForm</ActionForm>
		<Action>bshow.web.servlet.action.PageBranchAction</Action>
		<Redirect>false</Redirect>
		<path name="success">success.jsp</path>
		<path name="error">error.jsp</path>
	</PagePattern>
	
	<PagePattern name="selectGoodsNo">
		<ActionForm>bshow.web.servlet.form.SelectGoodsNoForm</ActionForm>
		<Action>bshow.web.servlet.action.SelectGoodsNoAction</Action>
		<Redirect>false</Redirect>
	</PagePattern>
	
	<!-- 查询最大页数 -->
	<PagePattern name="maxPageAction">
		<ActionForm>bshow.web.servlet.form.MaxPageActionForm</ActionForm>
		<Action>bshow.web.servlet.action.MaxPageAction</Action>
		<Redirect>false</Redirect>
		<path name="success">success.jsp</path>
		<path name="error">error.jsp</path>
	</PagePattern>

	

	<!-- 查询购物车商品 -->
	<PagePattern name="selectCartGoods">
		<ActionForm>bshow.web.servlet.form.SelectCartGoodsForm</ActionForm>
		<Action>bshow.web.servlet.action.SelectCartGoodsAction</Action>
		<Redirect>false</Redirect>
	</PagePattern>
	
	<!-- 删除购物车商品 -->
	<PagePattern name="deleteCartGoods">
		<ActionForm>bshow.web.servlet.form.DeleteCartGoodsForm</ActionForm>
		<Action>bshow.web.servlet.action.DeleteCartGoodsAction</Action>
		<Redirect>false</Redirect>
	</PagePattern>
	
	
	<!--查询导航栏信息  -->
	<PagePattern name="navigationAction">
		<ActionForm>bshow.web.servlet.form.NavigationActionForm</ActionForm>
		<Action>bshow.web.servlet.action.NavigationAction</Action>
		<Redirect>false</Redirect>
		<path name="success">success.jsp</path>
		<path name="error">error.jsp</path>
	</PagePattern>
	
	<!-- 多条件查询 -->
	<PagePattern name="goodsByConditionsAction">
		<ActionForm>bshow.web.servlet.form.GoodsByConditionsActionForm</ActionForm>
		<Action>bshow.web.servlet.action.GoodsByConditionsAction</Action>
		<Redirect>false</Redirect>
		<path name="success">success.jsp</path>
		<path name="error">error.jsp</path>
	</PagePattern>

	<!-- 注册插入 -->
	<PagePattern name="Sign_account">
		<Action>bshow.web.servlet.action.Sign_account</Action>
		<ActionForm>bshow.web.servlet.form.Sign_accountActionForm</ActionForm>
		<Redirect>false</Redirect>
	</PagePattern>
	

	<!-- 购物车 -->
	<PagePattern name="insertCart">
		<ActionForm>bshow.web.servlet.form.InsertCartForm</ActionForm>
		<Action>bshow.web.servlet.action.InsertCartAction</Action>
		<Redirect>false</Redirect>
	</PagePattern>
	
</properties>
