/*å…¨å±€æ ·å¼*/
* {
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
img {
	border: none;
	vertical-align: bottom;
}
/*µ×²¿°´Å¥*/
.pageSkining>center>button{
	display: inline-block;
}
.pageSkining>center>input{
	display: inline-block;
	width:47px;
	margin-left:10px;
	padding-bottom:5px;
	border-radius: 4px;
}
.pageSkining>center>button.btnJump{
	margin-right:10px;
}
.pageSkining>center>span{
	line-height:38px;
}

